﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" action="/Auth/Login">
    <h1>LOGIN</h1>

    <div class="form-group">
        <label for="exampleInputEmail1">Usuario</label>
        <input type="text" class="form-control" name="user" aria-describedby="Usuario">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input type="password" class="form-control" name="pass">
    </div>
    <div><span class="text-danger mt-1 mb-1">  @Html.ValidationMessage("Mensaje")</span></div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>