﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Los pokemones capturados de @Model.userName</h1>
<section class="row">
    <ul>
        <div class="col-4 text-xl-center mt-3">
            @foreach (UsuarioPokemon up in Model.usuarioPokemones)
            {
            <div class="card mt-3" style="width: 10rem;">
                <img class="card-img-top " height="80" width="40" src=@up.pokemon.imagen alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@up.pokemon.nombre</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Id: @up.pokemon.id </li>
                    <li class="list-group-item">Tipo: @up.pokemon.tipo </li>
                    <li class="list-group-item">Fecha de captura: @up.fecha </li>
                </ul>
                <div class="card-body">
                    <a href="~/Pokemon/Liberar?id=@up.id" class="card-link">Liberar</a>
                </div>

            </div>
            }
        </div>

    </ul>
</section>