﻿
@{
   
}
<div class="justify-content-center mt-4" >
    <form method="post" action="/Admin/CrearPokemon" enctype="multipart/form-data">
        <h1>CREAR POKEMON</h1>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nombre Pokemon</label>
            <input name="nombre" type="text" class="form-control" value=@Model.nombre>
            <span class="text-danger">@Html.ValidationMessage("nombre") </span>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Selecciona tipo</label>
            <select name="tipo" class="form-control" id="exampleFormControlSelect1">
                <option value="">Elige tipo</option>
                @foreach (Tipo tip in ViewBag.Tipos)
                {
                    if (tip.nombre == Model.tipo)
                    {
                        <option selected value=@tip.nombre>@tip.nombre</option>
                    }
                    else
                    {
                        <option value=@tip.nombre>@tip.nombre</option>
                    }

                }

            </select>
            <span class="text-danger">@Html.ValidationMessage("tipo") </span>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile1">Seleccione imagen</label>
            <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
            <span class="text-danger">@Html.ValidationMessage("imagen") </span>
        </div>



        <button type="submit" class="btn btn-primary">Crear</button>
    </form>
</div>