﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Lista de pokemones</h1>
<form class="form-inline mt-3" action="/home/index" method="post">
    <input class="form-control mr-sm-2" name="buscar" type="search" placeholder="Buscar pokemon" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
</form>

@if (User.Identity.IsAuthenticated)
{
    <form class="form-inline mt-3 justify-content-end" action="/Pokemon/Capturados" method="get">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Mis pokemones</button>
    </form>
}
<section class="row">
    <ul>
        <div class="justify-content-center col-4 text-xl-center mt-3">
            @foreach (Pokemon pokemon in Model)
            {
                <div class="card mt-3" style="width: 10rem;">
                    <img class="card-img-top " height="80" width="40" src=@pokemon.imagen alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@pokemon.nombre</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Tipo: @pokemon.tipo </li>
                        <li class="list-group-item">Id: @pokemon.id </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="card-body">
                            <a href="~/Pokemon/Capturar?id=@pokemon.id" class="card-link">Capturar</a>
                        </div>
                    }

                </div>
            }
        </div>

    </ul>
</section>
